* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }

body {
    font-family: 'Lato' sans-serif;
  }
    
.header {
    height: 75px;
    background-color: #222222;
}
  
.container {
    width: 1600px;
    margin: 0 auto;
}
  
.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
  
.header-left {
    width: 330px;
    display: flex;
    align-items: center;
    padding-left: 230px;
}

.logo {
    margin-top: -15px;
    
}

.search {
    display: flex;
    align-items: center;
    padding-left: 41px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 230px;
}
.navigation {
  margin-right: 30px;
  padding-top: 20px;
}

.header-user {
  margin-right: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

.menu-list {
    position: relative;
}

.menu-link {
    text-decoration: none;
    display: blok;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.mega-box {
    background-color: #ffffff;
    box-shadow: 0 5px 5px gray;
    padding: 20px;
    position: absolute;
    top: 25px;
    display: none;
    z-index: 999;
}
  
.menu:hover .mega-box {
    display: block;
}

.mega-heading {
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 230px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
    padding-top: 15px;
}

.mega-link {
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    display: block;
    text-decoration: none;
    padding-left: 20px;
}

.mega-link:hover {
    color: #F16D7F;
}

.banner {
    display: flex;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.banner-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-txt {
    border-left: 12px solid #F16D7F;
    float: left;
    font-family: 'Lato', sans-serif;
    padding-left: 16px;
  }
  
.the_brand {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
  
.fashion_1 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
    font-family: 'Lato', sans-serif;
}
  
.fashion {
    color: red;
}
  
.container-discount {
    width: 1140px;
    margin: 0 auto;
}
  
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
  
.content-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
  
.discount-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .test-transform:hover {
    transform: scale(0.5);
    transition: 0.5s;
  }

  .test-transform-2:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }

  .test-transform-3:hover {
    transform: rotate(360deg);
    transition: 0.9s;
  }

  .heading-items {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
  }
  
  .txt-items {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 100px;
  }
  
  .item-sec {
    margin-bottom: 95px;
  }
  
  .item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: 360px;
    position: relative;
    margin-bottom: 30px;
  }
  
  .item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  
  .item:hover .item-img {
    filter: brightness(30%);
  }
  
  .item:hover .add-box {
    display: flex;
  }
  
  .item-link {
    display: block;
    text-decoration: none;
  }
  
  .item-img {
    width: 100%;
  }
  
  .txt-box {
    padding: 25px 29px 20px 16px;
  }
  
  .item-desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
  }
  
  .item-txt {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
  }
  
  .item-price {
    color: #f16d7f;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .pc-basket {
    position: relative;
  }
  
  .add-box {
    position: absolute;
    top: 188px;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  
  .add {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
  }
  
  .add-txt {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
  }
  
  .add:hover {
    box-shadow: 0 0 10px #ffffff;
  }
  
  .button-browse-flex {
    display: flex;
    justify-content: center;
  }
  
  .button-browse {
    width: 211px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f16d7f;
    padding: 12px 19px;
    border: 1px solid transparent;
  }
  
.battom-block {
    height: 341px;
    display: flex;
    justify-content: space-between;
    background: #222224;
    padding-left: 230px;
    padding-right: 230px;
}

.battom-box {
    width: 360px;
    display: flex;
    align-items: center;
    
}

.img-battom-box {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;  
    text-decoration: none;
}

.battom-block-header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 26px;
}

.battom-block-txt {
     
    margin-top: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}


  .footer {
    width: 100%;
    margin: 0 auto;
    height: 868px;
  }
  .footer-size {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }    
  .footer-center {
    display: flex;
    align-items: center;
    height: 448px;
    background-image: url(img/bg-fc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // width: 1600px;
    // margin: o auto;
  }
  
  .figure-box {
    width: 360px;
    margin-left: 229px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  
  .figure-box-img {
    display: flex;
    justify-content: center;
  }
  .img-fc {
    height: 145px;
  }
  
  .txt-fc {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #222224;
  }
  
  .form-block-fc {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
  }
  
  .txt-subscribe {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #222224;
  }
  
  .txt-subscribe-second {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #222224;
  }
  
  .form-fc {
    margin-top: 32px;
  }
  
  .box-input-text {
    display: flex;
  }

  .input-text {
    height: 48px;
    width: 256px;
    border: 1px solid black;
    border-radius: 15px 0 0 15px;
  }
  
  .button-submit {
    height: 49px;
    width: 100px;
    color: white;
    background-color: #f16d7f;
    border: 1px solid transparent;
    border-radius: 0 15px 15px 0;
  }

  .button-submit:hover {
    color: #f16d7f;
    background-color: white;
    border: 1px solid #f16d7f;
  }

  
  .footer-bottom {
    background: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
  }
  
  .fb-left {
    width: 332px;
    display: flex;
    align-items: center;
    margin-left: 230px;
  }
  
  .txt-copiring {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FBFBFB;
  }
  
  .fb-right {
    width: 152px;
    margin-right: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .fab {
    font-size: 32px;
    color: #ffffff;
  }
  
  .fab:hover {
    color: #F16D7F;
  }
  
  // catalog
  .newarrivals {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .newarrivals-header {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    margin-left: 230px;
  }

  .newarrivals-menu-block {
    margin-right: 230px;
  }

  .newarrivals-menu {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  .newarrivals-menu:hover {
    color: #F16D7F;
  }
  .paginator-flex {
    height: 43px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // product
  .product-cart {
    width: 100%;
    height: 600px;
    border: 1px solid #EAEAEA;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 65px;
    
  }
  .pc-txt-1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;

  }

  .pc-txt-2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;

  }

  .pc-txt-3 {
    width: 555px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    text-align: center;

  }
  .pc-basket {
    width: 211px;
    position: relative;
  }
  .add-box-test {
    position: absolute;
    top: 188px;
    // display: none;
    justify-content: center;
    width: 100%;
  }
  .item:hover .add-box-test {
    display: flex;
  }
  .add-test {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #F26376;
    text-decoration: none;
  }
  
  .add-txt-test {
    color: #F26376;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 19px;
  }
  
  .add:hover {
    box-shadow: 0 0 10px #ffffff;
  }


// cart
main {
  flex-grow: 1;
}

.shopping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-cart {
  margin: 96px 0 128px;
}

.cart-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card {
  display: flex;
  margin: 0 0 40px 0;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.16)
}

.shop-form input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
  margin: 0 0 20px 0;
}

// !!!
// .cart-card:last-of-type {
//   margin: 0 0 72px 0;
// }

.cart-card-text {
  display: flex;
  flex-direction: column;
  padding: 22px 97px 62px 31px;
  // иконка закрытия
  // position: relative;
}

.cart-card-text > span {
  margin: 0 0 6px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.intro-text-decor {
  color: #F16D7F;
}

.quantity {
  display: flex;
}

.quantity-input {
  border: 1px solid #EAEAEA;
  width: 44px;
  height: 25px;
  margin: 0 0 0 24px;
  text-align: center;
}

.shop-cart-button {
  display: flex;
  justify-content: space-between;
}

.shop-cart-button button,
.shop-cart-button a {
  padding: 17px 40px 17px 40px;
  border: 1px solid #A4A4A4;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}
button {
  background: none;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    padding: 11px 14px 11px 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    cursor: pointer;
}

.shop-forms {
  margin: 113px 0 0 0;
}
.shop-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 57px 0;
}
.check-form {
  background: #E2E2E2;
  padding: 39px 43px 42px 43px;
  text-align: right;
}

.check-form button {
  padding: 16px 42px 16px 42px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  cursor: pointer;
}
// registration
.container-t {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.registration {
  display: flex;
  margin: 64px auto 96px;
}

.registr-input {
  flex-grow: 1;
}

.registr-input .registr-form {
  display: flex;
  flex-direction: column;
}

.input-name {
    margin: 0 0 20px 0;
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding: 0 17px 0 17px;
}

.input-last {
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding: 0 17px 0 17px;
}

.check-gender {
  margin: 31px 0 31px 0;
}


.check-label {
    margin: 0 20px 0 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
}

.input_mail {
    margin: 0 0 20px 0;
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding: 0 17px 0 17px;
}

.input_pass {
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding: 0 17px 0 17px;
}

.registr-submit {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 16px 29px 16px 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    background: #F16D7F;
    border: none;
    text-transform: uppercase;
}

.registr-submit:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
}
.registr-info {
    max-width: 652px;
    margin: 0 0 0 22px;
}


