* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  min-height: 100vh;
}

.header {
  background-color: #222222;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-logo {
  margin: 0 41px 0 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-button {
  cursor: pointer;
  background: none;
  border: none;
}

.search-input {
  display: none;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 5px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-item {
  padding: 18px 0 18px 0;
}

.header-item:not(:last-child) {
  margin: 0 33px 0 0;
}

.header-button {
  cursor: pointer;
  position: relative;
}

.header-menu {
  position: absolute;
  padding: 37px 0 34px 34px;
  background: #FFFFFF;
  left: -91px;
  top: 45px;
  height: 763px;
  -webkit-box-shadow: -2px 4px 10px #dbd9d9;
          box-shadow: -2px 4px 10px #dbd9d9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

.header-menu > h4 {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.header-menu h4 {
  text-align: left;
  color: #F16D7F;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.header-menu-list {
  margin: 20px 0 0 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section {
  display: block;
}

.intro {
  background-color: #F1E4E6;
}

.intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url(img/man_top.png) no-repeat bottom;
  background-size: 33%;
  background-position-x: 10px;
}

.intro-wrap-height {
  padding: 67% 0 0 0;
}

.intro-text {
  width: 44.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25.5%;
  -webkit-animation: pulse-regular 2s ease 0s infinite normal backwards;
          animation: pulse-regular 2s ease 0s infinite normal backwards;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

.intro-text-top {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 49px;
  line-height: 58px;
}

.intro-text-decor {
  color: #F16D7F;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 96px;
}

.offers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-block:not(:last-child) {
  width: 31.58%;
  margin: 0 0 2.63% 0;
}

.offers-women {
  background: url(img/offers-women.png);
  background-size: cover;
}

.offers-block > a {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.offers-block-link {
  padding: 29.5% 0;
}

.offers__block span {
  font-size: 24px;
  color: #F16D7F;
  display: block;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.offers-men {
  background: url(img/offers-women.png);
  background-size: cover;
}

.offers-kids {
  background: url(img/offers-women.png);
  background-size: cover;
}

.offers-accesories {
  background: url(img/4-ACCESORIES.png);
  background-size: cover;
}

.offers-block-link-acces {
  padding: 5.8% 0;
}

.content h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.content > p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 6px auto 18px;
  text-align: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  margin: 30px 0 0 0;
  background: #F8F8F8;
  text-decoration: none;
  width: 360px;
  position: relative;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-link {
  display: block;
  text-decoration: none;
}

.item-img {
  width: 100%;
}

.txt-box {
  padding: 25px 29px 20px 16px;
}

.item-desc {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.item-txt {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.item-price {
  color: #f16d7f;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.pc-basket {
  position: relative;
}

.add-box {
  position: absolute;
  top: 188px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
}

.add-txt {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.cards-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 48px 0 95px 0;
}

.button {
  border: 1px solid #FF6A6A;
  text-decoration: none;
  padding: 15px 37px 15px 39px;
  font-size: 16px;
  line-height: 15px;
  color: #F26376;
  display: inline-block;
}

.privileges {
  background: black;
}

.privileges-info {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privileges-offer {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: wobble 5s ease 0s infinite normal backwards;
          animation: wobble 5s ease 0s infinite normal backwards;
}

.privileges-offer h3 {
  font-size: 19.96px;
  line-height: 24px;
  font-weight: normal;
  color: #FBFBFB;
}

.privileges-offer p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer-size {
  width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  background-image: url(img/bg-fc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.figure-box {
  width: 360px;
  margin-left: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figure-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-fc {
  height: 145px;
}

.txt-fc {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #222224;
}

.form-block-fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 300px;
}

.txt-subscribe {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.txt-subscribe-second {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #222224;
}

.form-fc {
  margin-top: 32px;
}

.box-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-text {
  height: 48px;
  width: 256px;
  border: 1px solid black;
  border-radius: 15px 0 0 15px;
}

.button-submit {
  height: 49px;
  width: 100px;
  color: white;
  background-color: #f16d7f;
  border: 1px solid transparent;
  border-radius: 0 15px 15px 0;
}

.button-submit:hover {
  color: #f16d7f;
  background-color: white;
  border: 1px solid #f16d7f;
}

.footer-bottom {
  background: #222224;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fb-left {
  width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 230px;
}

.txt-copiring {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FBFBFB;
}

.fb-right {
  width: 152px;
  margin-right: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fab {
  font-size: 32px;
  color: #ffffff;
}

.fab:hover {
  color: #F16D7F;
}

.newarrivals {
  height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newarrivals-header {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-left: 230px;
}

.newarrivals-menu-block {
  margin-right: 230px;
}

.newarrivals-menu {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.newarrivals-menu:hover {
  color: #F16D7F;
}

.paginator-flex {
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-cart {
  width: 100%;
  height: 600px;
  border: 1px solid #EAEAEA;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 65px;
}

.pc-txt-1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.pc-txt-2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.pc-txt-3 {
  width: 555px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
}

.pc-basket {
  width: 211px;
  position: relative;
}

.add-box-test {
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.item:hover .add-box-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #F26376;
  text-decoration: none;
}

.add-txt-test {
  color: #F26376;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-left: 19px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-cart {
  margin: 96px 0 128px;
}

.cart-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.16);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.16);
}

.shop-form input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
  margin: 0 0 20px 0;
}

.cart-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 97px 62px 31px;
}

.cart-card-text > span {
  margin: 0 0 6px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.intro-text-decor {
  color: #F16D7F;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity-input {
  border: 1px solid #EAEAEA;
  width: 44px;
  height: 25px;
  margin: 0 0 0 24px;
  text-align: center;
}

.shop-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-cart-button button,
.shop-cart-button a {
  padding: 17px 40px 17px 40px;
  border: 1px solid #A4A4A4;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}

button {
  background: none;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 11px 14px 11px 14px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  cursor: pointer;
}

.shop-forms {
  margin: 113px 0 0 0;
}

.shop-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 57px 0;
}

.check-form {
  background: #E2E2E2;
  padding: 39px 43px 42px 43px;
  text-align: right;
}

.check-form button {
  padding: 16px 42px 16px 42px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  cursor: pointer;
}

.container-t {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 64px auto 96px;
}

.registr-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.registr-input .registr-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-name {
  margin: 0 0 20px 0;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
}

.input-last {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
}

.check-gender {
  margin: 31px 0 31px 0;
}

.check-label {
  margin: 0 20px 0 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}

.input_mail {
  margin: 0 0 20px 0;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
}

.input_pass {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px 0 17px;
}

.registr-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 29px 16px 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  background: #F16D7F;
  border: none;
  text-transform: uppercase;
}

.registr-submit:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
}

.registr-info {
  max-width: 652px;
  margin: 0 0 0 22px;
}
/*# sourceMappingURL=style.css.map */