* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: 'Lato' sans-serif;
}

.header {
  height: 75px;
  background-color: #222222;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header-left {
  width: 372px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 230px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 230px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.banner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-txt {
  border-left: 12px solid #F16D7F;
  float: left;
  font-family: 'Lato', sans-serif;
  padding-left: 16px;
}

.the_brand {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.fashion_1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
  font-family: 'Lato', sans-serif;
}

.fashion {
  color: red;
}

.container-discount {
  width: 1140px;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}

.discount-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-transform:hover {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.test-transform-2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.test-transform-3:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.heading-items {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.txt-items {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 100px;
}

.item-sec {
  margin-bottom: 95px;
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-link {
  display: block;
  text-decoration: none;
}

.item-img {
  width: 100%;
}

.txt-box {
  padding: 25px 29px 20px 16px;
}

.item-desc {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.item-txt {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.item-price {
  color: #f16d7f;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.add-box {
  position: absolute;
  top: 188px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
}

.add-txt {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.button-browse-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-browse {
  width: 211px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;
}

.footer {
  width: 100%;
  margin: 0 auto;
  height: 868px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 203px 230px 0 230px;
  background: #222224;
}

.txt-ft {
  width: 360px;
  margin-bottom: 104px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-ft {
  margin-bottom: 28px;
}

.h2-ft {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
  margin-bottom: 16px;
}

.txt-ft {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-decoration: none;
  color: #FBFBFB;
}

.footer-center {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(img/bg-fc.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.figure-img {
  width: 360px;
  margin-left: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-fc {
  width: 100px;
  margin-left: 120px;
  margin-bottom: 30px;
}

.txt-fc {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #222224;
}

.form-block-fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 300px;
}

.txt-subscribe {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.txt-subscribe-second {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #222224;
}

.form-fc {
  margin-top: 32px;
}

.input-text {
  height: 48px;
  width: 256px;
  border: 1px solid black;
  border-radius: 15px 0 0 15px;
}

.button-submit {
  height: 49px;
  width: 100px;
  color: black;
  background-color: #f16d7f;
  border: 1px solid transparent;
  border-radius: 0 15px 15px 0;
}

.footer-bottom {
  background: #222224;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fb-left {
  width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 230px;
}

.txt-copiring {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FBFBFB;
}

.fb-right {
  width: 152px;
  margin-right: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fab {
  font-size: 32px;
  color: #ffffff;
}

.fab:hover {
  color: #F16D7F;
}

.newarrivals {
  height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newarrivals-header {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-left: 230px;
}

.newarrivals-menu-block {
  margin-right: 230px;
}

.newarrivals-menu {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.newarrivals-menu:hover {
  color: #F16D7F;
}

.paginator-flex {
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */